<div id="content">
  <%= render "admins/header" %>
  <ol class="pl-5">
    <%= render_breadcrumbs%>
  </ol>
  <%= render 'admins/comments/shared/list-comment' %>
  <%= raw render partial: 'users/shared/pagination', locals: {pagy: @pagy} %>
</div>