.info-auther {
  min-height: 10em;
  z-index: 10;

  &-header {
    height: 2em;
  }

  &-title {
    margin-top: -1em;
    height: 4em;
  }

  &-avatar {
    height: 100%;
  }

  &-fullname {
    height: 100%;
    line-height: 2.5em;
    color: #202428;
    font-size: 1.2rem;
    font-weight: 700;

    &:hover {
      color: #1827ce;
    }
  }

  &-infomation {
    color: #64707d;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.mh-2 {
  min-height: 2em;
}

.w-90 {
  width: 90%;
}
