<div class="dedication bg-dark-4 text-light py-2 rounded mb-4 mt-4 w-100" id="follow-tag">
  <div class="d-flex nav justify-content-end font-size-15em mb-3">
    <div class="mr-auto py-2 pl-3 font-weight-bold ">Tags Following</div>
  </div>
  <% if @tags_follow.present? %>
  <% @tags_follow.each do |tag| %>
    <div class="d-flex bd-highlight font-size-13em pl-3 mt-2">
      <div class="p-1 w-25 bd-highlight align-self-center text-center">
        <%= image_tag default_avatar_tag(tag), class: "rounded-circle img-30em" %>
      </div>
      <div class="w-100 flex-shrink-1 bd-highlight align-self-center font-size-11em pl-2">
        <%= link_to tag.name, tag_path(tag), class: "text-muted-light text-decoration-none font-weight-bold clearfix" %>
      </div>
      <div class="show-total-post p-1 w-25 bd-highlight text-center align-self-center mr-2">
        <span class="font-weight-bold font-size-12em clearfix pt-3">
          <%= tag.posts.count %>
        </span>
        <span class="font-size-08em text-muted">Posts</span>
      </div>
    </div>
  <% end %>
  <% elsif current_user.blank? %>
    <div class="text-center px-2 mt-3">      
      You are not logged in. <%= link_to 'Login', login_path %> here.
    </div>
  <% else %>
    <div class="text-center px-2 mt-3">
        You have not tracked any tags at this time
    </div>
  <% end %>
</div>
