<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3"> 
            <%= link_to "Back", admins_tags_path, class: "m-0 font-weight-light text-primary" %>
        </div>
         <div class="card-body">
            <div class="tag-detail p-3 float-left h-auto">
                <div class="container p-3 h-auto bg-light">
                    <div class="text-center">
                        <%= image_tag default_avatar_tag(@tag), class: "rounded avatar-tag-user", id: "img-preview" %>
                    </div>
                    <div class="mt-3 w-100 text-center">
                        <p class="font-weight-bold"><h3><%= @tag.name %></h3></p>
                    </div>
                    <div class="mt-3 text-center">
                        <span class="text-muted w-50">Follower: 0</span>
                        &emsp;
                        <span class="text-muted w-50">Posts: 0</span>
                    </div>
                </div>
            </div>
            <div class="posts-item p-3 float-left h-auto">
                <div class="container p-3 bg-light">
                    <div class="w-100 text-center h3 border-bottom p-3 text-secondary rounded font-weight-bold mb-3"> THE POSTS LIST </div>
                    <div class="w-100">
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
