$greencolor: #55c500;

.navbar-root-active {
  color: $greencolor !important;
  border-bottom: 2px solid $greencolor;
}

.body_blog {
  min-height: calc(100vh - 40px);
}
.show-total-post {
  font-size: 1rem;
  line-height: 1rem;
}
