

.navbar-root-active {
  color: #EEF0F1 !important;
  border-bottom: 2px solid #EEF0F1;
}

.body_blog {
  min-height: calc(100vh - 40px);
}
.show-total-post {
  font-size: 1rem;
  line-height: 1rem;
}
