.page-footer {
  background-color: #3e3e3e;

  .logo-hiruno {

    .footer-copyright {
      font-size: 12px;
    }
  }

  .footer-list {
    font-size: 15px;
    margin-top: 0.5em;

    .footer-column {
      flex-direction: column;
      padding: 1em 3em 1em 0;
    }
  }
  div.footer-column a {
    text-decoration:none;
    color: #999999;
  }
}
