.footer {
    background-color: #252d38;
    box-shadow: none;
    color: rgba(255,255,255,.66);
    display: block;
    padding: 3rem 1.5rem 6rem;

    .footer-container {
      -webkit-box-flex: 1;
      -webkit-box-pack: justify;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1184px;
      width: auto;
    }
    .footer-link {
      color: rgba(255,255,255,.9);
      cursor: pointer;
      text-decoration: none;

      :hover {
        color: #3298dc;
        text-decoration: underline;
      }
    }
    .dot {
      margin: 0 .2rem;
    }
}
