.header-page-index {
  background-color: #252d38;

  .header-page-index li.nav-item a.nav-link:hover .page-footers,
  .header-page-index li.nav-item.active a.nav-link {
    background-color: #3e3e3e;
  }
  .btn_search_laptop {
    width: 450px;

    .textbox-search {
      width: 95%;
    }
  }
  .header_search {
    -webkit-appearance: none;
  }
  .textbox-search {
    &:focus {
      outline: none;
    }
  }
  .textsearch{
    &:focus {
      outline: 1px solid #000000;
    }
  }
  .btn_create_post {
    align-items: center;
    border-radius: 4px;
    height: 32px;
    justify-content: center;
    text-decoration: none;
    user-select: none;
  }

  .btn_show_following_post {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    height: 32px;
    justify-content: center;
    outline: none;
    position: relative;
    user-select: none;
    width: 32px;
    text-decoration: none;
  }
  .header-setting {
    width: 15em;
  }
}
