.header-page-index {
  background-color: #55c500;

  .header-page-index li.nav-item a.nav-link:hover .page-footers,
  .header-page-index li.nav-item.active a.nav-link {
    background-color: #3e3e3e;
  }

  .header_search {
    -webkit-appearance: none;
  }
  .textbox-search {
    &:focus {
      outline: none;
    }
  }
  .textsearch{
    &:focus {
      outline: 1px solid #000000;
    }
  }
}
