.left-menu-home {
  top: 1rem;

  .p-home_menuItem {
    font-size: 0.9rem;
    transition: background-color 0.08s ease-in-out;
    &:hover {
      filter: brightness(110%);
      font-weight: bold;
    }

    &-active {
      position: relative;
      font-weight: normal;
      color: #fff;
      background-color: #55c500;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;

      &:hover {
        font-weight: bold;
        color: WhiteSmoke !important;
      }
    }
  }
}
.w-115 {
  margin-left: -5rem;
  width: 165%;
}
.hover-menu-left{
  &:hover {
    color: white;
    background-color: #3a3b3c;
    border-radius: 0.25rem;
  }
}
  