.news {
  border: 2px solid #55c500;
  font-size: 0.8em;

  .view-title {
    font-size: 1.2em;
  }

  .icon {
    color: #55c500;
  }
}

.dedication {
  font-size: 0.6em;

  .title {
    padding-left: 0;
  }

  .list-ranking {
    padding: 10px;
    height: auto;
    width: -webkit-fill-available;

    .point-center {
      padding: inherit;
    }

    .point-ranking {
      font-size: 15px;
      align-items: center;
      justify-content: center;
    }

    .point-post {
      font-size: 10px;
    }
  }
}

.menuright-setting {
  width: 300px;

  .infomation {
    font-size: 14px;

    .parameter {
      border-left-width: 0;
      flex: 1;
      text-align: center;
    }
  }

}
