<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Create Shortlink</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <form action="" method="POST" role="form">
                            <div class="form-group">
                                <label for="link">Link</label>
                                <input type="text" name="link" id="" class="form-control" placeholder="" aria-describedby="helpId">
                                <label for="short-link">Short link</label>
                                <input type="text" name="shortlink" id="" class="form-control" placeholder="Auto generate of blank !" aria-describedby="helpId">
                            </div>
                            <a name="" id="" class="btn btn-primary" href="#" role="button">Create Shortlink</a>
                        </form>
                </table>
            </div>
        </div>
    </div>
</div>
