<div class="btn-follow">
    <% if user_signed_in? %>
      <% if current_user == @user %>
          <%= link_to 'Edit Users', profile_path, class: 'text-dark btn btn-light btn-sm btn-block font-weight-bold' %>
      <% else %>
          <%= render 'users/shared/follow_form' %>
      <% end %>
    <% else %>
      <%= link_to 'Follower', login_path, class: "btn btn-primary btn-sm btn-block font-weight-bold" %>
    <% end %>
</div>
