<div class="left-setting p-3 d-flex flex-column align-items-start bg-white">
    <div class="title-sidebar border-bottom pt-3 w-100">
        <h6 class='font-weight-bold'>Public Profile</h6>
    </div>
    <div class="content-sidebar border-bottom pt-3 w-100">
        <h6><%= link_to 'Account', profile_path %></h6>
    </div>
    <div class="content-sidebar border-bottom pt-3 w-100">
        <h6><%= link_to 'Password', password_path %></h6>
    </div>
    <div class="title-sidebar border-bottom pt-3 w-100">
        <h6 class='font-weight-bold'>Post</h6>
    </div>
    <div class="content-sidebar border-bottom pt-3 w-100">
        <h6>Publish</h6>
    </div>
    <div class="content-sidebar border-bottom pt-3 w-100">
        <h6>Private</h6>
    </div>
</div>
