<div class="left-setting p-3 mt-3 d-flex flex-column align-items-start bg-dark-4 text-muted-light rounded">
    <div class="title-sidebar border-bottom w-100">
        <h6 class='font-weight-bold'><h4>Public Profile</h4></h6>
    </div>
    <div class="content-sidebar pt-3 w-100">
        <h6><%= link_to 'Account', profile_path, class: "ml-1 text-white #{left_menu_setting_user(profile_path)}" %></h6>
    </div>
    <div class="content-sidebar pt-3 w-100">
        <h6><%= link_to 'Password', password_path, class: "ml-1 text-white #{left_menu_setting_user(password_path)}" %></h6>
    </div>
</div>
