<div class="dedication bg-dark-4 text-light py-2 rounded mb-4">
  <div class="d-flex nav justify-content-end font-size-15em mb-3">
    <div class="mr-auto py-2 pl-3 font-weight-bold">Tags ranking</div>
  </div>
  <% list_number_ranking = 0; @tags_trend.each do |tag| %>
    <div class="d-flex bd-highlight font-size-13em mt-2">
      <div class="ml-1 w-25 bd-highlight align-self-center text-center font-size-13em">
        <%== print_number_leaderboard(list_number_ranking += 1) %>
      </div>
      <div class="p-1 w-25 bd-highlight align-self-center text-center">
        <%= image_tag default_avatar_tag(tag), class: "rounded-circle img-30em" %>
      </div>
      <div class="w-100 flex-shrink-1 bd-highlight align-self-center font-size-11em pl-2">
        <%= link_to tag.name, tag_path(tag), class: "text-muted-light text-decoration-none font-weight-bold clearfix" %>
      </div>
      <div class="show-total-post p-1 w-25 bd-highlight text-center align-self-center mr-2">
        <span class="font-weight-bold font-size-12em clearfix pt-3">
          <%= tag.total %>
        </span>
        <span class="font-size-08em text-muted">Posts</span>
      </div>
    </div>
  <% end %>
</div>
