<%= render "home/header" %>
<div class="body bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= render "users/profile/left_menu" %>
      </div>
      <div class="col-md-8">
        <%= render "users/profile/right_menu" %>
      </div>
    </div>
  </div>
</div>
<%= render "home/footer" %>
