.dialog {
    width: 30em;
    height: max-content;

    &-header {
        width: 100%;
        height: 3em;
        line-height: 3em;
        font-weight: bold;
    }

    &-item {
        width: 100%;
        height: 3em;
        line-height: 1.5em;
    }

    &-textarea {
        width: 100%;
        min-height: 3em;
    }
}
