.dialog {
    width: 30em;
    height: max-content;
    transform: scale(0.2);
    transition: 200ms;
    &-header {
        width: 100%;
        height: 2em;
        line-height: 2em;
        font-weight: bold;
    }

    &-item {
        width: 100%;
        height: 3em;
        line-height: 1.5em;
    }

    &-textarea {
        width: 100%;
        min-height: 3em;
    }
}
.dialog-scale {
    transform: scale(1);
}