<div class="banner">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 banner-left">
        <h1 class="banner-title">How developers code is here.</h1>
        <p>Qiita is a social knowledge sharing for software engineers. Let's share your knowledge or ideas to the world.</p>
      </div>

      <div class="col-sm-6">
        <div class="register">
          <form>
            <div class="form-group row">
              <label for="inputLogin" class="col-sm-4"></label>
              <div class="col-sm-8 d-flex justify-content-between">
                <button type="button" class="btn btn-light">
                  <i class="fab fa-github" aria-hidden="true"></i>
                  Github
                </button>

                <button type="button" class="btn btn-light">
                  <i class="fab fa-twitter icon-twitter" aria-hidden="true"></i>
                  Twitter
                </button>

                <button type="button" class="btn btn-light">
                  <i class="fab fa-google icon-google" aria-hidden="true"></i>
                  Google
                </button>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputLogin" class="col-sm-4"></label>
              <div class="col-sm-8 d-flex justify-content-around">
                <span class="text-muted">OR</span>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label">username</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="inputName" placeholder="First name">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-4 col-form-label">mail</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="inputEmail" placeholder="Mail">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-4 col-form-label">password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword" placeholder="password">
                <span class="mb-2 nl-SignupForm_helpText">Use at least 8 letters</span>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-4 col-form-label"></label>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-outline-light btn-lg">Sign in</button>
              </div>
              <div class="col-sm-5">
                <div class="nl-SignupForm_attention">By clicking 'Signup', you agree to our
                  <a href="#" class="text-muted text-decoration">terms of service</a>.
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
