<div class="col-sm-7">
  <div class="check">
    <div class="title-blog">
      <i class="far fa-chart-bar" aria-hidden="true"></i>
      <span>Trends</span>
      <span class="tr-ItemList_subLabel">Remarkable items.Refleshed at every 5 a.m.and 5 p.m.</span>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="#">Daily</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Weekly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Monthly</a>
      </li>
    </ul>

    <div class="topic">
      <% for i in 0..10 %>
        <%= render "home/topic" %>
      <% end %>
    </div>
  </div>
</div>
