<footer class="page-footer font-small text-white">
  <div class="p-3 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6 logo-hiruno">
          <h1>Hituno</h1>
          <p>How developers code is here.</p>
          <i class="fab fa-facebook-square text-muted" aria-hidden="true"></i>
          <i class="fab fa-twitter-square text-muted" aria-hidden="true"></i>
          <div class="footer-copyright py-3 text-muted">© 2011-2020 Increments Inc.</div>
        </div>
        <div class="col-md-6">

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <h4>Hituno</h4>
                <div class="footer-list pr-0 d-flex">
                  <div class="footer-column d-flex">
                    <a href="#">Terms</a>
                    <a href="#">About</a>
                    <a href="#">Privaci</a>
                    <a href="#">Guideline</a>
                  </div>
                  <div class="footer-column d-flex">
                    <a href="#" >API</a>
                    <a href="#" >ご意見</a>
                    <a href="#" >Privaci</a>
                    <a href="#" >Advertisement</a><br/>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <h4>Increments</h4>
                <div class="footer-list pr-0 d-flex">
                  <div class="footer-column d-flex">
                    <a href="#" >About</a>
                    <a href="#" >採用情報</a>
                    <a href="#" >Blog</a>
                  </div>
                  <div class="footer-column d-flex">
                    <a href="#" >Hituno Team</a>
                    <a href="#" >Hituno Jobs</a>
                    <a href="#" >Hituno Zine</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
