<footer class="footer d-none d-md-block bg-dark-4">
  <div class="footer-container">
    <div>Copyright&nbsp;©&nbsp;2020 - <span class="">2021</span>
      <a href="https://intern-ruby.nal.vn/" class="footer-link">Nguyễn Xuân Nam</a>
    </div>
    <div>Assistive technology <a href="https://rubyonrails.org/" class="footer-link" target="_blank">Ruby on Rails</a>
      <span class="dot">&#8226;</span>
      <span class="clearfix"> Designed by&nbsp;Nam<span>
    </div>
  </div>
</footer>
