<footer class="page-footer font-small text-white">
  <div class="p-3 mb-2 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6 logo-hiruno">
          <h1>Hituno</h1>
          <p>How developers code is here.</p>
          <i class="fab fa-facebook-square text-muted" aria-hidden="true"></i>
          <i class="fab fa-twitter-square text-muted" aria-hidden="true"></i>
          <div class="footer-copyright py-3 text-muted">© 2011-2020 Increments Inc.</div>
        </div>
        <div class="col-md-6">

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <h4>Hituno</h4>
                <div class="footer-list">
                  <div class="footer-column">
                    <a href="#" class="text-decoration-none text-muted">Terms</a>
                    <a href="#" class="text-decoration-none text-muted">About</a>
                    <a href="#" class="text-decoration-none text-muted">Privaci</a>
                    <a href="#" class="text-decoration-none text-muted">Guideline</a>
                  </div>
                  <div class="footer-column">
                    <a href="#" class="text-decoration-none text-muted">API</a>
                    <a href="#" class="text-decoration-none text-muted">ご意見</a>
                    <a href="#" class="text-decoration-none text-muted">Privaci</a>
                    <a href="#" class="text-decoration-none text-muted">Advertisement</a><br/>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <h4>Increments</h4>
                <div class="footer-list">
                  <div class="footer-column">
                    <a href="#" class="text-decoration-none text-muted">About</a>
                    <a href="#" class="text-decoration-none text-muted">採用情報</a>
                    <a href="#" class="text-decoration-none text-muted">Blog</a>
                  </div>
                  <div class="footer-column">
                    <a href="#" class="text-decoration-none text-muted">Hituno Team</a>
                    <a href="#" class="text-decoration-none text-muted">Hituno Jobs</a>
                    <a href="#" class="text-decoration-none text-muted">Hituno Zine</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
