<footer class="page-footer font-small">
  <div class="p-3 mb-2 bg-dark text-gray">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>Hiruno</h1>
          <br>
          <p>
            How developers code is here.</p>
          <i class="fab fa-facebook-square" aria-hidden="true"></i>
          <i class="fab fa-twitter-square" aria-hidden="true"></i>
          <div class="footer-copyright py-3">© 2011-2020 Increments Inc.</div>
        </div>
        <div class="col-sm-3">
          <h4>Hiruno</h4>
          <table class="table">
            <tr>
              <td>
                <a href="#">About</a>
              </td>
              <td>
                <a href="#">API</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Term</a>
              </td>
              <td>
                <a href="#">ご意見</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Privacy</a>
              </td>
              <td>
                <a href="#">Help
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Guildline</a>
              </td>
              <td>
                <a href="#">Advertisement</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-3">
          <h4>Increments</h4>
          <table class="table">
            <tr>
              <td>
                <a href="#">About</a>
              </td>
              <td>
                <a href="#">Hiruno Team</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Qiita Jobs</a>
              </td>
              <td>
                <a href="#">採用情報</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">Blog</a>
              </td>
              <td>
                <a href="#">Qiita Zine</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</footer>
