<footer class="footer d-none d-md-block">
  <div class="footer-container">
    <div>Copyright&nbsp;©&nbsp;2019 - <span class="">2020</span>
      <a href="https://intern-ruby.nal.vn/" class="footer-link">Intern Ruby</a>
    </div>
    <div>Powered by <a href="https://rubyonrails.org/" class="footer-link" target="_blank">Ruby on Rails</a>
      <span class="dot">&#8226;</span>
      <span class="clearfix"> Designed by&nbsp;Intern Ruby <span>
    </div>
  </div>
</footer>
