<footer class="page-footer font-small">
  <div class="p-3 mb-2 bg-dark text-gray">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 logo-hiruno">
          <h1>Hiruno</h1>
          <p>How developers code is here.</p>
          <i class="fab fa-facebook-square text-muted" aria-hidden="true"></i>
          <i class="fab fa-twitter-square text-muted" aria-hidden="true"></i>
          <div class="footer-copyright py-3 text-muted">© 2011-2020 Increments Inc.</div>
        </div>
        <div class="col-sm-3">
          <h4>Hiruno</h4>
          <table class="table">
            <tr>
              <td>
                <a href="#" class="text-muted">About</a>
              </td>
              <td>
                <a href="#" class="text-muted">API</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-muted">Term</a>
              </td>
              <td>
                <a href="#" class="text-muted">ご意見</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-muted">Privacy</a>
              </td>
              <td>
                <a href="#" class="text-muted">Help
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-muted">Guildline</a>
              </td>
              <td>
                <a href="#" class="text-muted">Advertisement</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-3">
          <h4>Increments</h4>
          <table class="table">
            <tr>
              <td>
                <a href="#" class="text-muted">About</a>
              </td>
              <td>
                <a href="#" class="text-muted">Hiruno Team</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-muted">Qiita Jobs</a>
              </td>
              <td>
                <a href="#" class="text-muted">採用情報</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-muted">Blog</a>
              </td>
              <td>
                <a href="#" class="text-muted">Qiita Zine</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</footer>
