<div class="menuright-setting">
  <%= render "home/news" %>
  <br>
  <%= render "home/userranking" %>
  <br>
  <%= render "home/tagranking" %>
  <br>
  <%= render "home/organizations_ranking" %>
</div>
