<div class="menutren">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="row">
        <a class="navbar-brand text-white" href="#">Hituno</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="far fa-caret-square-down text-white nav icon-login" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">
                  <span class="fa fa-fw fa-check"></span>
                  Hiruno</a>
                <div class="dropdown-divider"></div>
                <div class="ghichu">You are not logged in to any team</div>
                <a class="dropdown-item" href="#">
                  <span class="fas fa-sign-out-alt"></span>
                  Log in to Hiruno Team...</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">
                  <span class="fa fa-fw fa-users mr-1of2"></span>
                  List of all Users</a>
                <a class="dropdown-item" href="#">
                  <span class="fa fa-fw fa-building-o"></span>
                  List of all organizatioins</a>
                <a class="dropdown-item" href="#">
                  <span class="fa fa-fw fa-calendar"></span>
                  Advent Calendar</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <span class="fa fa-fw fa-search"></span>
                  Hituno Jobs</a>
                <a class="dropdown-item" href="#">
                  <span class="fa fa-comments"></span>
                  HitunoDon</a>
                <a class="dropdown-item" href="#">
                  <span class="fa fa-book"></span>
                  Hiruno Zine</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <span class="fa fa-fw fa-book"></span>
                  Community Guideline</a>
                <a class="dropdown-item" href="#">
                  <span class="fa fa-fw fa-book"></span>
                  How to write good articles</a>
              </div>
            </li>

            <li class="nav-item">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              </form>
            </li>
          </ul>

        </div>
      </div>
      <ul class="nav navbar-nav float-sm-right button-menu">
        <a href="#" class="btn btn-outline-light">
          SignUp</a>
        <a href="#" class="btn">
          Log In</a>
      </ul>
    </div>
  </nav>
</div>