<div class="row news bg-white d-block p-4">
  <span>
    <i class="fa fa-bullhorn icon"></i>
    <span class="view-title font-weight-bold">Qiitaの「いいね」が「LGTM」に変わります</span>
  </span>
  <br/>
  <span>2020/03/12にリリースした、QiitaのLGTM機能について、その背景と目的を説明します。</span>
  <br/>
  <div class="text-right mt-2">
    <a href="#" class="icon"><i class="fa fa-fw fa-arrow-circle-right"></i>View detail</a>
  </div>
</div>
