<div class="row loop-topic">
  <div class="col-sm-1 col-2 image-avatar">
    <%= image_tag("https://i.imgur.com/5w9l0bV.jpg") %>
  </div>
  <div class="col-sm-11 col-10">
    <a href="#">
      <span class="font-weight-bolder text-dark">リモートワークでも生産性を上げる！スクラム創始者直伝の実践ノウハウを日本語化して入門者向けにまとめました。</span></a>
    <br>
      <span class="text-muted infomation">by <a href="#">Yametaro</a> 3 days ago 684</span>
  </div>
</div>
