<div class="row loop-topic">
  <div class="col-sm-1">
    <%= image_tag("1.jpeg") %>
  </div>
  <div class="col-sm-11">
    <a href="#">
      <span>最近のポケモンはデザインが複雑になったのか？【Python】【OpenCV】</span></a>
    <br>
    <span>by Yametaro 3 days ago 684</span>
  </div>
  <div class="dropdown-divider"></div>
</div>