<div class="row member justify-content-between" >
  <div class="col-xs-8 user-ranks">
    <i class="fa fa-trophy silve mr-2" aria-hidden="true"></i>
    <div class="mr-1"><%= image_tag("1.jpeg") %></div>
    <span>無職 やめ太郎（本名）</span>
  </div>
  <div class="col-xs-4">
    <span class="point-ranking">1325</span><br>
    <span class="point-post">Posts</span>
    </div>
</div>
