<html>
    <head>
        <meta http-equiv="refresh" content="5;url=<%= login_path%>" />
    </head>
    <body>
        <div class="text-muted">
            <div class="container my-3">
                <div class="row"><div class="d-flex justify-content-center py-4 mb-2 col-12">
                    <div class="logo logo--medium">
                        <i class="fas fa-envelope-open-text fa-8x"></i>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="mx-auto col-sm-12 col-md-10 col-lg-8 col-xl-6">
                    <h2 class="card-title">
                        Confirm your Account 
                    </h2> 
                    <p class="card-subtitle mt-2">
                        Welcome to Hituno!
                        Please check your inbox for a confirmation email.<br>
                        Click the link in the email to confirm your email address! 
                    </p>
                </div>
            </div>
        </div>    
    </body>
</html>

