<% provide(:title, "P'world")%>
<div class="fixed-bottom d-flex text-center w-25">
  <%= render 'layouts/messages' %>
</div>

<div class="body_blog d-block bg-dark-6 pt-2 mt-3rem h-100 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <%= render "home/menuleft" %>
      </div>
      <div class="col-lg-6">
        <%= render "home/post_index/topic_index" %>
        <!-- Middle -->
      </div>
      <div class="col-lg-3">
        <%= render "home/menuright" %>
        <!-- menuright -->
      </div>
    </div>
  </div>
</div>
