<div class="view-blog p-3">
  <% if user_signed_in? %>
    <% if @posts.blank? %>
      <div class="text-center m-5 text-muted-light">
        <span class="clearfix mb-3 font-size-15em"> You have no followed yets.</span>
        <span class="clearfix m-0 font-size-09em"> Follow some users who write good articles and comments. </br>
          They will find more interesting things for you. Let's get started!
        </span>
      </div>
    <% else %>
      <% @posts.each do |post| %>
        <%= render partial: "home/post_index/clip-post", locals: { post: post }%>
      <% end %>
      <%== render partial: 'users/shared/pagination', locals: { pagy: @pagy } %>
    <% end %>
  <% else %>
    <div class="text-center m-5 text-muted">
      <span class="clearfix mb-3 font-size-13em"> You are not logged in.</span>
      <span class="clearfix m-0 font-size-09em">
        Please <%= link_to "log in", login_path, class: "text-decoration-none" %> to see the posts you are following
      </span>
    </div>
  <% end %>
</div>
