<div class="view-blog bg-white p-3">
  <% @posts.order(created_at: :desc).each do |post| %>
    <%= render partial: "home/post_index/topictag", locals: {post: post} %>
  <% end %>
  <%== render partial: 'users/shared/pagination', locals: {pagy: @pagy} %>
</div>
