  <% @posts.order(created_at: :desc).each do |post| %>
    <div class="view-blog bg-dark-4 p-1 mb-2 rounded">
      <%= render partial: "home/post_index/topictag", locals: {post: post, tag_item: current_user.tag_followings} %>
    </div>
  <% end %>
  <%== render partial: 'users/shared/pagination', locals: {pagy: @pagy} %>
