<div class="bg-white p-3 mt-3">
  <span class="font-weight-bold jump pl-2">
    <i class="fas fa-square-full color-green mr-2"></i>
    All Articles</span>
  <div class="container all-articles ">
    <div class="mt-3">
      <%= render "users/profile/topic" %>
      <%== render partial: 'users/shared/pagination', locals: {pagy: @pagy} %>
    </div>
  </div>
</div>
