<div class="bg-white mt-3">
  <div class="container">
    <div class="user-no-articles pt-3">
      <span class="font-weight-bold">
        <i class="fas fa-thumbtack color-green mr-2"></i><%= t('users.profile.pickup_articles') %>
      </span>
      <div class="text-center d-block p-5">
        <span class="alter-box text-muted font-size-08em"><%= t('users.profile.label_pickup_article_html') %>
          <br></span>
        <span>
          <button type="button" class="btn btn-success">
            <%= t('users.profile.setting_pickup_articles') %>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
