<ul class="nav nav-tabs w-100">
  <li class="nav-item">
    <%= link_to 'Pending', '?scope=pending', class: "nav-link #{active_post('pending')}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Public', '?scope=public', class: "nav-link #{active_post('public')}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Draft', '?scope=draft', class: "nav-link #{active_post('draft')}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Close', '?scope=close', class: "nav-link #{active_post('close')}" %>
  </li>
</ul>