* {
  margin: 0;
  padding: 0;
}

.button-menu {
  font-size: 12px;
}

.nl-SignupForm_helpText {
  font-size: 10px;
}

.nl-SignupForm_attention {
  flex-grow: 1;
  font-size: 12px;
}

.btn-outline-light {
  color: #ffffff;
  background-image: none;
  background-color: transparent;
  border-color: #ffffff;
}

.fa-caret-square-o-down {
  font-size: 25px;
  margin-top: 10px;
}

.check .title-blog {
  padding-left: 10px;
}

.col-form-label {
  text-align: end;
}

.banner {
  background-color: #55c500;
  padding: 20px;
  align-items: center;
  color: #ffffff;
}

.header-f {
  background-image: url("/assets/image/Bg.png");
  background-color: #55c500;
  align-items: center;
  color: #ffffff;

  .ghichu {
    font-size: 10px;
  }

  .icon-login {
    font-size: 20px;
    margin-top: 9px;
  }
}

.header li.nav-item a.nav-link {
  font-family: tafhoma;
  margin-right: 5px;
  border-radius: 17px;
}

.tr-ItemList_subLabel {
  font-size: 12px;
  color: #aaa;
}

.nologin {
  color: #aaa;
  font-size: 0.8em;
  font-weight: 600;
  line-height: normal;
  margin: 8px 0 0 34px;
}

.body_blog {
  display: block;
  background-color: #f6f6f4;
  padding-top: 20px;
  padding-bottom: 20px;

  .check {
    background-color: #fffff0;
    margin: auto;
    padding: 5px;
  }

  .topic {
    padding: 2px;

    .loop-topic {
      margin: 2em 0;
      border-bottom: 1px solid #f6f6f4;
    }
  }
}

.header-f li.nav-item a.nav-link:hover .page-footer .test,
.header-f li.nav-item.active a.nav-link {
  background-color: #3e3e3e;
}

.banner-left {
  display: block;
  justify-content: center;
  align-items: center;
}

.banner-left .banner-title {
  font-size: 50px;
  margin-top: 2em;
}

.register {
  align: center;
}

.news {
  border: 2px solid #55c500;
  background-color: #ffffff;
  padding: 20px;
  font-size: 13px;
  display: block;
}

.news .icon {
  color: #55c500;
}

.new .href {
  align-self: flex-end;
}

.dedication {
  font-size: 10px;
  background-color: #ffffff;
  color: #808080;

  .title {
    padding-left: 0;
  }

  .list-ranking {
    margin: auto;
  }
}

.ranking {
  font-size: 10px;
  margin: auto;
}

.ranking .test {
  padding-left: 1px;
  padding-right: 2px;
  text-align: left;
}

.member {
  padding-right: 5px;
  font-size: 12px;
  margin: auto;
  color: #000000;
  margin-top: 7px;

  .gold {
    color: #ffff00;
    font-size: 20px;
    margin-top: 2px;
  }

  .silver {
    color: #808080;
    font-size: 20px;
    align: middle;
  }

  .bronze {
    color: #ac6d4c;
    font-size: 20px;
    align: middle;
  }

  .another {
    color: #999999;
    font-size: 25px;
    align: center;
  }
}

.page-footer {
  color: #FFFFFF;
  background-color: #3e3e3e;
}
