@import 'index/header';
@import 'index/footer';
@import 'index/banner';
@import 'index/body';
@import 'index/rightmenu';
@import 'index/leftmenu';
@import 'customize';

#content-page {
  min-height: calc(100vh - 40px);
}

@media screen and (max-width: 992px) {
  .menuright-setting,
  .view-blog {
    width: 100%;
    margin: 0 0 0 auto;
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .register,
  .tr-itemlist_sublabel {
    display: none;
  }

  .name-list-ranking,
  .view-blog {
    font-size: 0.7em;
  }

  .topic {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 332px) {
  .title-ranking {
    margin-right: 1em;
  }

  .menu-index-user {
    padding: 0.5rem 0.2rem !important;
  }
  .px-tagfeed {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
