// pagy

.table-pagination {

  .page-link {
    border-radius: 50%;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    margin: 0 5px;
    min-width: 32px;
    padding: 0 10px;
    width: 40px;
    height: 40px;

    &:focus {
      box-shadow: none;
    }

    &__next,
    &__previous {
      font-size: x-small;
    }
  }
}
