.font-type {
  font-size: 14px;
  color: #242323;

  .title {
    &_signin, &_signup, &_forgot {
      font-size: 36px;
      margin: 1em 0;
    }
  }

  .submit {
    &-other, &-form {
      width: 100%;

      .btn {
        width: 100%;
        padding: 0.7em 0;
        margin-bottom: 0.5em;
      }

      .layout_guide {
        margin-bottom: 1.5em;
        color: #8a8989;
      }

      .help-block {
        margin: 1em 0;
        color: #8a8989;
      }
    }
  }
}

// reponsive

@media screen and (min-width: 730px) {

  .forgot_password {
    width: 30em;
    margin: auto;
  }

  .sign {
    &_in, &_up {
      max-width: 85%;
      margin: auto;

      .submit {
        &-other, &-form {
          float: left;
          width: 50%;
        }

        &-other {
          padding-right: 1em;
          border-right: 1px solid rgb(216, 216, 216);
        }

        &-form {
          padding-left: 1em;
        }
      }
    }
  }
}

//hover error field

.field_with_errors {
  border: 1px solid rgb(243, 99, 99);
  border-radius: 4px;
}

.field_with_error:focus{
  border: 1px solid white;
}
