.tag__img {
    width: 6.25em;
    height: 6.25em;
    border-radius: 0.2em;
}
.main-content{
    font-size: .875em;
}
.btn-follow {
    min-width: 6.25em;
    font-family: inherit;
    cursor: not-allowed;
}