.tag-item-profile {
    width: max-content;
    height: 1.7em;
    border: none;
    text-align: center;
    line-height: 1.7em;
}

.mw-3 {
    min-width: 3em;
}

.img-size-75 {
    width: 7.5em;
    height: 7.5em;
}
.profile-user {
    overflow: hidden;
}