<div class="container">
  <% flash.each do |key, value| %>
    <% unless value.blank? %>
        <% if alert %>
          <p class="alert alert-warning mt-3">
            <%= alert %>
            <button class="close" data-dismiss="alert">×</button>
          </p>
        <% end %>
        <% if notice%>
          <p class="alert alert-warning mt-3">
            <%= notice %>
            <button class="close" data-dismiss="alert">×</button>
          </p>
        <% end %>
      <script>
        setTimeout("$('.alert').fadeOut('slow')", 5000)
      </script>
    <% end%>
  <% end %>
</div>